<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/signup/signup.css" />
    <link rel="stylesheet" href="/common/global.css" />
    <title>BroCloud</title>
  </head>
  <body>
    <h1 class="signup--title">Join your squad.</h1>
    <p class="error"></p>
    <main class="u--center-content">
      <form method="POST" class="entry-form">
        <label for="firstName">Enter your first name</label>
        <input type="text" id="firstName" name="firstName" />

        <label for="lastName">Enter your last name</label>
        <input type="text" id="lastName" name="lastName" />

        <label for="nickName">Enter your nick name</label>
        <input type="text" id="nickName" name="nickName" />

        <label for="password"> Enter a password</label>
        <input id="password" type="password" name="password" />

        <% if (clubs.length > 0) { %>
        <label for="clubs">Select a club to join: </label>
        <ul id="clubs" class="signup-join--club">
          <% clubs.forEach((club) => { %>
          <li>
            <button id="<%= club._id %>" type="button"><%= club.name %></button>
          </li>
          <% }); %>
        </ul>
        <h3>OR</h3>
        <% } %>
        <label for="clubName">Enter name of club to be created: </label>
        <input type="text" class="signup-create--club" name="clubName" />
        <div class="signup--btn-container">
          <button id="signup-submit--btn" class="btn--primary">
            Join Your Squad
          </button>
        </div>
      </form>
    </main>
    <nav class="link-nav">
      <a href="/login" class="entry-link"> Login </a>
    </nav>
  </body>

  <script src="/signup/index.js"></script>
</html>
