<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/login/login.css" />
    <link rel="stylesheet" href="/common/global.css" />
    <title>Login</title>
  </head>
  <body>
    <h1 class="login--title">Login</h1>
    <p class="error"></p>
    <main class="u--center-content">
      <form method="POST" class="entry-form" action="/login">
        <label for="firstName">Enter your first name</label>
        <input type="text" id="firstName" name="firstName" />

        <label for="clubName">Enter your club name</label>
        <input type="text" id="clubName" name="clubName" />

        <label for="password"> Enter your password</label>
        <input id="password" type="password" name="password" />

        <button class="btn--primary">Login</button>
      </form>
    </main>
    <nav class="link-nav">
      <a href=/signup" class="entry-link"> Signup </a>
    </nav>
  </body>
  <script src="/login/index.js"></script>
</html>
