.landing--main-title {
  text-align: center;
  font-size: 5rem;
}

.landing--img {
  width: 60%;
  border-radius: 10px;
}

.landing--subtitle {
  color: var(--dark-green);
  font-size: 3rem;
  display: flex;
  justify-content: center;
}

.signup-link,
.login-link {
  margin-right: 4rem;
  font-size: 2rem;
}
