:root {
  --dark-green: #026670;
  --light-green: #9fedd7;
  --green: green;
  --red: #eb345e;
  --light-yellow: #fef9c7;
  --dark-yellow: #fce181;
  --beige: #edeae5;
  --white: white;
  --black: black;
  --gray: gray;

  --border: solid 1px var(--dark-green);
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--beige);
}

.u--center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

input,
select {
  height: 3.5rem;
  font-size: 2.2rem;
  outline: none;
  border: none;
  background-color: var(--beige);
  padding-left: 1rem;
}

:is(input, select):hover {
  background-color: var(--light-green);
}

.btn--primary {
  background-color: var(--dark-green);
  color: var(--light-yellow);
  padding: 1rem 2rem;
  border-radius: 4px;
  font-size: 2rem;
  border: none;
  text-transform: capitalize;
}

.btn--primary:hover {
  background-color: var(--light-green);
  color: var(--black);
}

.btn--result {
  background-color: var(--light-green);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1rem;
  border-radius: 5px;
  border: none;
  outline: none;
  width: 100%;
}

.u--redcircle,
.u--green-circle {
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.u--green-circle {
  color: var(--green);
}

.u--red-circle {
  color: var(--green);
}

section,
aside,
form {
  box-shadow: 2px 2px 2px var(--gray);
  border-radius: 10px;
  padding: 1.5rem;
  background-color: var(--white);
}

h3 {
  font-size: 2rem;
  margin-top: 0;
}

h4 {
  font-size: 1.8rem;
  color: var(--gray);
}

ul {
  list-style: none;
  padding: 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.u--green-circle,
.u--red-circle {
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  display: inline-block;
}

.u--green-circle {
  background-color: var(--green);
}

.u--red-circle {
  background-color: var(--red);
}

.error {
  background-color: var(--light-yellow);
  color: var(--red);
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bolder;
}

.entry-form {
  width: clamp(30rem, 50rem, 70rem);
  padding: 2rem;
  border-radius: 10px;
}

:is(.entry-form) label,
input,
select {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.6rem;
}

.entry-link {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: 1.6rem;
  padding-top: 2rem;
}
